/Docs/
/Library/
/OldProject/

/Builds/Android

/Temp
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains
hockey_battle.sln
hockey_battle.csproj
hockey_battle.Plugins.csproj
hockey_battle.Editor.csproj
hockey_battle.Editor.Plugins.csproj
.vs/HockeyBattle/v14/.suo
hockey-battle.sln
UnityVS.hockey-battle.csproj
UnityVS.hockey-battle.Editor.csproj
UnityVS.hockey-battle.Editor.Plugins.csproj
UnityVS.hockey-battle.Plugins.csproj
UnityVS.hockey-battle.sln
hockey-battle.userprefs
mod_pbxproj_Logs.txt
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-firstpass.unityproj
hockey-battle_gitlab.sln
hockey-battle_gitlab.userprefs
UnityVS.hockey-battle_gitlab.csproj
UnityVS.hockey-battle_gitlab.Editor.csproj
UnityVS.hockey-battle_gitlab.Editor.Plugins.csproj
UnityVS.hockey-battle_gitlab.Plugins.csproj
UnityVS.hockey-battle_gitlab.sln
/hockey-battle.Editor.Plugins.csproj
/hockey-battle.Editor.csproj
/hockey-battle.Plugins.csproj
/hockey-battle.csproj
.vs/
.idea/
obj/
*.csproj
*.DotSettings.user
*.sln
Thumbs.db
*.DS_Store
